html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  background-color: #111;
  color: #ffffe3;
}

* {
  box-sizing: border-box;
}

a {
  color: #ffffe3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #E1FFEF;
}

img {
  max-width: 90%;
  display: block;
  color: #ffffe3;
}